body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .message, .error{
    background-color:lightgrey;
    font-size: 20px;
    border: solid 1px green;
    border-radius: 5px;
    padding:10px;
    margin-bottom:10px;
    color:green;
    width:50vw;
  }
  .error{
    border-color: red;
    color:red;
  }
  .toglableContent{
    color:black;
  }
  .notDisplayed {
    display: none
  }
  .notDisplayedButton {
    display: none
  }